apiVersion: v1
kind: Service
metadata:
  name: prometheus-svc
  namespace: template-ns
  annotations:
    prometheus.io/scrape: 'true'
    prometheus.io/port:   '9090'
spec:
  type: NodePort
  selector:
    app: prometheus
  ports:
    - port: 9090
      targetPort: 9090
      nodePort: 30002